* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    display: inline-block;
    margin-left: 50px;
    margin-top: 50px;
    top: 246px;
    left: 121px;
    width: 595px;
    height: 500px;


}


.menu {
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400px;
    line-height: 21px;
    letter-spacing: 0.875px;

}

h1 {
    display: inline-block;
    position: relative;
    left: 800px;
    bottom: 300px;
    box-sizing: 100px;

   



}

p {
    display: inline-block;
    position: relative;
    left: 800px;
    bottom: 300px;
    box-sizing: 100px;
}